body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top {
  background-image: url(../img/header-top-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-inner__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 30px;
}
.logo {
  margin-right: 10px;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 47px;
}
.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height */

  color: #1f271b;
  text-transform: uppercase;
  transition: color 250ms;
}

.menu__link:hover {
  color: #fff;
}

.login {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height */

  color: #1f271b;
  text-transform: uppercase;
  margin-right: 38px;
}

.login.current {
  color: #fff;
}
.register {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height */

  color: #1f271b;
  text-transform: uppercase;
}

.header__content {
  padding-top: 100px;
  padding-bottom: 164px;
  background-image: url(../img/Group\ 135.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content-bg {
  position: absolute;
  right: 0;
  top: 170px;
}
.header__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 102.4%;
  /* or 82px */

  color: #1f271b;
  margin-bottom: 23px;
}

.header__descr {
  max-width: 447px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  color: #1f271b;
  margin-bottom: 34px;
}

.header-content__link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;

  color: #1f271b;
  padding: 14px 30px;
  border: 2px solid #f4b02b;
}

.main {
  background-color: #fafafa;
}

.section__bay-card {
  padding-top: 68px;
  padding-bottom: 131px;
  box-shadow: 0px -2px 21px rgba(31, 39, 27, 0.05);
}

.btn__list {
  display: flex;
  margin-bottom: 33px;
  justify-content: center;
}

.bay-card__btn {
  font-weight: 600;
  font-size: 19px;
  line-height: 102.4%;
  /* identical to box height, or 23px */

  color: #1f271b;
  padding: 34px 49px;
  background: rgba(244, 176, 43, 0.12);
  border-radius: 3px;
  border-right: 1px solid rgba(244, 176, 43, 0.26);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bay-card__btn:hover {
  background-color: #f4b02b;
  color: #fff;
}

.bay-card__btn.current-btn {
  background-color: #f4b02b;
  color: #fff;
}

.card__content-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
}
.card__content-item {
  background-image: url(../img/card-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  position: relative;
  margin: 15px;
}

.card__content-info {
  padding-top: 29px;
  padding-bottom: 38px;
  padding-left: 28px;
  padding-right: 192px;
}
.card__title {
  max-width: 146px;
  font-weight: 700;
  font-size: 22px;
  line-height: 102.4%;
  /* or 23px */

  color: #ffffff;
  margin-bottom: 12px;
}
.card__content-btn {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;

  background: rgba(255, 255, 255, 0.11);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
  padding: 13px 21px;
}

.price-fleg {
  background-image: url(../img/fleg.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 25px;
}
.card-price {
  padding-top: 16px;
  padding-left: 6px;
  padding-right: 7px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 16px;
  line-height: 102.4%;
  /* or 16px */

  color: #ffffff;
}

.section__intro {
  background-image: url(../img/intro-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__inner {
  padding-top: 54px;
  padding-bottom: 54px;

  display: flex;
  justify-content: space-between;
}
.intro__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro__info-top {
}
.intro__sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 102.4%;
  /* or 16px */

  color: #ffffff;
  margin-bottom: 14px;
}
.intro__title {
  max-width: 466px;
  font-weight: 700;
  font-size: 80px;
  line-height: 102.4%;
  /* or 82px */

  color: #ffffff;
  margin-bottom: 18px;
}
.intro__descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 102.4%;
  /* or 20px */

  color: #ffffff;
}

.intro__old-price {
  font-weight: 700;
  font-size: 45px;
  line-height: 102.4%;
  /* identical to box height, or 46px */

  color: #cbcbcb;

  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.08);
  margin-bottom: 18px;
  position: relative;
}

.intro__old-price::before {
  position: absolute;
  content: "";
  width: 111px;
  height: 6px;
  background: #cbcbcb;
  top: 50%;
}

.intro__new-price {
  font-weight: 700;
  font-size: 77px;
  line-height: 102.4%;
  /* identical to box height, or 79px */

  color: #f2b744;

  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.08);
}
.intro__sale-box {
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(6px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;

  padding-top: 38px;
  padding-left: 58px;
  padding-right: 63px;
  padding-bottom: 57px;
}
.intro__sale-box-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 102.4%;
  /* or 16px */

  color: #ffffff;

  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.08);
  margin-bottom: 46px;
}
.intro__sale-box-p {
  font-weight: 700;
  font-size: 55px;
  line-height: 102.4%;
  /* or 56px */

  color: #ffffff;

  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.08);
}
.intro__sale-box-p:not(:last-child) {
  margin-bottom: 53px;
}

.intro__sale-box-p span {
  color: #f4b02b;
}

.our-products__inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 102.4%;
  /* or 61px */

  color: #1f271b;
  margin-bottom: 50px;
}

.our__products {
  padding-top: 112px;
  padding-bottom: 200px;
}
.our__products-inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 102.4%;
  /* or 61px */

  color: #1f271b;
  margin-bottom: 50px;
}
.our__products-list {
  display: flex;
}
.our__products-item {
  background-image: url(../img/ourproducts-card.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  width: 100%;
}

.our__products-item:not(:last-child) {
  margin-right: 15px;
}

.our__products-item-box {
  padding-top: 23px;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.our__products-top {
  width: 166px;
  margin-bottom: 150px;
}
.our__products-top-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 102.4%;
  /* or 26px */

  color: #ffffff;
  margin-bottom: 9px;
}
.our__products-top-descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 102.4%;
  /* or 12px */

  color: #ffffff;
}
.our__products-top-descr-one {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.our__products-top-descr-two {
  display: flex;
  align-items: center;
}

.our__products-top-descr-one::before {
  content: "";
  width: 5px;
  height: 5px;
  background: #f4b02b;
  border-radius: 50%;
  margin-right: 6px;
}

.our__products-top-descr-two::before {
  content: "";
  width: 5px;
  height: 5px;
  background: #f4b02b;
  border-radius: 50%;
  margin-right: 6px;
}
.our__products-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our__product-bottom-cost {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.our__product-bottom-price {
  font-weight: 700;
  font-size: 23px;
  line-height: 102.4%;
  /* identical to box height, or 24px */

  color: #ffffff;
}

.our__product-bottom-button {
  display: inline-block;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;

  color: #ffffff;
  background: #f4b02b;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
  padding: 13px 23px;
}

.subscribe {
}

.subscribe__inner {
  background-image: url(../img/sub-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: relative;
}
.subscribe-img-box {
  position: absolute;
  right: 0;
  bottom: 0;
}
.subscribe__info {
  padding-top: 49px;
  padding-left: 63px;
}
.subscribe__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 102.4%;
  /* identical to box height, or 82px */

  color: #ffffff;
  margin-bottom: 15px;
}
.subscribe__descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 102.4%;
  /* or 18px */

  color: #ffffff;
  margin-bottom: 88px;
  width: 436px;
}
.subscribe__form {
  padding-left: 63px;
  padding-bottom: 56px;
  position: relative;
}
.subscribe__input {
  padding-top: 26px;
  padding-bottom: 25px;
  padding-left: 28px;
  padding-right: 169px;

  background: rgba(255, 255, 255, 0.11);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px 0px 0px 5px;
  color: #fff;
}

.subscribe__input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 102.4%;
  /* or 18px */

  color: rgba(255, 255, 255, 0.26);
}

.subscribe__btn {
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 102.4%;
  /* or 18px */

  color: #ffffff;
  padding: 26px 49px;

  background: #f4b02b;
  border-radius: 0px 5px 5px 0px;
}

.adventages {
  padding-top: 65px;
  padding-bottom: 74px;
  background-image: url(../img/bg-adventages.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.adventages__title {
  font-weight: 700;
  font-size: 65px;
  line-height: 102.4%;
  /* identical to box height, or 67px */

  color: #ffffff;
  text-align: center;
  margin-bottom: 66px;
}

.adventages__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adventages__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.11);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 84px;

  width: 139px;
  height: 139px;
  margin-bottom: 21px;
}

.adventages__descr {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.9%;
  /* or 29px */

  text-align: center;

  color: #ffffff;
}

.footer {
  background-color: #202020;
}

.footer {
  padding-top: 76px;
  padding-bottom: 76px;
}

.footer__nav-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.footer__logo {
  display: inline-block;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;

  color: #ffffff;
  margin-bottom: 45px;
}

.footer__nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer__nav-item:first-child {
  margin-bottom: 0;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__bottom-police {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.33);
}
.footer__icon-list {
  display: flex;
}
.footer__icon-item:not(:last-child) {
  margin-right: 18px;
}

.subscribe__input-footer {
  padding-right: 110px;
}
.subscribe__form-footer {
  padding-left: 0;
  padding-bottom: 0;
}

.footer__form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
  margin-bottom: 23px;
}

.footer-bg {
  padding-top: 120px;
  background-color: #fafafa;
}

.footer-bg-img {
  width: 100%;
  display: block;
}
